<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Mystery Word</h1>
    <h3>Choose a Mode</h3>
      <form action="/" method="post" class="modePicker">
        <input type="radio" id="easymode" name="easymode" value="easymode">
        <label for="Easy Mode">Easy Mode</label>

        <input type="radio" id="hardmode" name="hardmode" value="hardmode">
        <label for="hardmode">Hard Mode</label>

        <input type="radio" id="crazymode" name="crazymode" value="crazymode">
        <label for="crazymode">Crazy Mode</label>
      </form>
  </body>
</html>
